---
import Container from './Container.astro'
import Topic from './Topic.astro'
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row" id="projects">
    <Topic
      title="Benefits"
      description="Enjoy expert support 24/7 while saving time and money with a low-risk investment and a 90-day satisfaction guarantee."
    />
  </div>

  <div
    class="w-full p-12 bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex text-white"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-3 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0"
    >
      <div
        class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
      >
        <h3 class="text-3xl font-medium capitalize">Save Time and Money</h3>
        <p class="w-full text-lg font-normal">
          Avoid costly web design fees and endless hours of research.
        </p>
        <div class="justify-start items-center gap-[15px] inline-flex">
          <div class="text-lime text-xl font-normal leading-7">Learn more</div>
          <img src="/services/agc.svg" alt="arrow" />
        </div>
      </div>
      <div
        class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
      >
        <h3 class="text-3xl font-medium capitalize">Support Available 24/7</h3>
        <p class="w-full text-lg font-normal">
          Our award-winning customer support team is here to help you succeed
          every step of the way.
        </p>
        <div class="justify-start items-center gap-[15px] inline-flex">
          <div class="text-lime text-xl font-normal leading-7">Learn more</div>
          <img src="/services/agc.svg" alt="arrow" />
        </div>
      </div>
      <div
        class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
      >
        <h3 class="text-3xl font-medium capitalize">Low-Risk Investment</h3>
        <p class="w-full text-lg font-normal">
          Try it out with minimal upfront cost and a 90-day satisfaction
          guarantee.
        </p>
        <div class="justify-start items-center gap-[15px] inline-flex">
          <div class="text-lime text-xl font-normal leading-7">Learn more</div>
          <img src="/services/agc.svg" alt="arrow" />
        </div>
      </div>
    </div>

    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
  </div>
</Container>
