---
interface Props {
  title: string
  checkoutUrl: string
  isAlt?: boolean
}

const { checkoutUrl, title = 'CTA Button', isAlt } = Astro.props
---

<a
  class={`lemonsqueezy-button px-8 py-5 rounded-2xl border text-center text-xl font-normal leading-7 justify-items-center md:justify-items-start gap-2.5 inline-flex ${!isAlt ? 'bg-zinc-900 hover:bg-white  text-white hover:text-black' : 'border-zinc-900 bg-white hover:bg-black text-black hover:text-white'} `}
  href={`${checkoutUrl}?embed=1`}
>
  {title}
</a>
<script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>
