---
import Container from './Container.astro'
---

<footer class="bg-zinc-100 bg-fixed bg-bottom text-black rounded-t-3xl">
  <Container>
    <div class="py-14">
      <div class="grid md:grid-flow-col md:items-start gap-y-5">
        <div class="col-span-3 md:col-span-1">
          <img src="/Logo.svg" alt="Logo" />
          <ul class="text-center">
            <li>
              <a href="#"
                >Become an affiliate <br /> earn 40% of sales you refer</a
              >
            </li>
            <li>
              <a href="#">Privacy Policy </a>
            </li>
            <li>
              <a href="#">Refund Policy </a>
            </li>
            <li>
              <a href="#">Terms of Service </a>
            </li>
            <li>
              <a href="#">Purchase Agreement & arnings Disclaimer</a>
            </li>
            <li>
              <a href="#">Contact Us </a>
            </li>
          </ul>
        </div>
        <div class="col-span-3 px-5 md:px-10">
          <p class="text-[10px] text-center">
            You recognize and agree that we "QuickEcomSite LLC" &
            quickecomsite.com have made no implications, warranties, promises,
            suggestions, projections, representations or guarantees whatsoever
            to you about future sales or results, or that you will earn any
            money and that we have not authorized any such projection, promise,
            or representation by others. You must obtain advice on taxes
            (affiliate marketing taxes, sales tax, income tax, business taxes,
            etc.) from a tax professional. You must obtain business formation,
            legal and patent advice from a legal professional. We take no
            responsibility for any information given that falls under those
            categories. You accept that we are not tax or legal professionals.
            You must consult a legal professional for advice on these topics. We
            make absolutely NO guarantee of success, monetary or otherwise, and
            we take no responsibility for any time or money spent in relation to
            this service, course, products, advertising, our assistance, or
            otherwise. Only one person may access our products per purchase. If
            a user is seen allowing others to use his account to access the
            course, that person will be removed from the course without a
            refund. You may not share this information with others not enrolled
            in the course. If you are found uploading these videos or sharing
            information anywhere else, you will be removed without refund.
            Results may vary. You accept that although you use our services &
            products, you may not receive the sales or income desired. We are
            not responsible for your well-being or your income. Please be aware
            of this.
            <br />
            By purchasing our stores you are acknowledging that you are receiving
            prebuilt store(s). These are stores that were built prior to purchase
            which means multiple customers could receive the same design. These are
            stepping stones for a store design and should NOT be considered a "business";
            you are simply purchasing a design of your store on the Shopify platform.
            You can build your own store for free at Shopify.com. Please do not consider
            this a "Make money" opportunity; we're simply designing a store for you.
            <br />

            The 365-day money-back guarantee was implemented on 2/20/2024. It
            will only be honored for customers who bought after that date. If
            you bought before that date, the 365-day money-back guarantee does
            not apply to you.
            <br />

            WE DO NOT CLAIM THAT YOU WILL MAKE ANY INCOME ON YOUR WEBSITE. WE
            ARE NOT A BUSINESS OPPORTUNITY; WE ARE A WEBSITE DESIGN AGENCY.
            <br />

            QuickEcomSite LLC is a participant in the Shopify Affiliate Program,
            an affiliate advertising program designed to provide a means for
            sites to earn advertising fees by advertising and linking to
            Shopify.com. As an affiliate, QuickEcomSite LLC earns commissions on
            qualified purchases made through links on this website and services
            that are delivered to our clients. The commissions earned help to
            support the operation of this website and provide valuable content
            to our readers. QuickEcomSite LLC only recommends products and
            services that we have personally used and believe in the quality of.
            <br />

            This site is not part of the Facebook website or Facebook Inc.
            Additionally, this site is NOT endorsed by Facebook in any way.
            Facebook is a trademark of FACEBOOK, Inc.
            <br />

            QuickEcomSite LLC
            <br />

            6835 E. Camelback Rd, Scottsdale, AZ, 85251
            <br />

            Hit the Chat bubble to contact us!
            <br />

            Let me know if you need any further modifications!
          </p>
        </div>
      </div>
    </div>
  </Container>
</footer>

<script is:inline>
  const year = new Date().getFullYear()
  document.getElementById('currentYear').innerHTML = `${year}`
</script>
