---
import Container from './Container.astro'
---

<footer class="bg-zinc-100 bg-fixed bg-bottom text-black rounded-t-3xl">
  <Container>
    <div class="py-14">
      <div class="grid md:grid-flow-col md:items-start gap-y-5">
        <div class="col-span-3 md:col-span-1">
          <img src="/Logo.svg" alt="Logo" />
          <ul class="text-center">
            <li>
              <a href="#"
                >Become an affiliate <br /> earn 40% of sales you refer</a
              >
            </li>
            <li>
              <a href="#">Privacy Policy </a>
            </li>
            <li>
              <a href="#">Refund Policy </a>
            </li>
            <li>
              <a href="#">Terms of Service </a>
            </li>
            <li>
              <a href="#">Purchase Agreement & arnings Disclaimer</a>
            </li>
            <li>
              <a href="#">Contact Us </a>
            </li>
          </ul>
        </div>
        <div class="col-span-3 px-5 md:px-10">
          <p class="text-[10px] text-center">
            You recognize and agree that we, "Deejaydev," and deejaydev.work,
            have made no implications, warranties, promises, suggestions,
            projections, representations, or guarantees whatsoever to you about
            future sales or results, or that you will earn any money. We have
            not authorized any such projection, promise, or representation by
            others. You must obtain advice on taxes (e.g., affiliate marketing
            taxes, sales tax, income tax, business taxes) from a tax
            professional. You must obtain business formation, legal, and patent
            advice from a legal professional. We take no responsibility for any
            information given that falls under those categories. You accept that
            we are not tax or legal professionals, and you must consult a legal
            professional for advice on these topics.
            <br />
            We make absolutely NO guarantee of success, monetary or otherwise, and
            we take no responsibility for any time or money spent in relation to
            this service, course, products, advertising, our assistance, or otherwise.
            Only one person may access our products per purchase. If a user is found
            sharing their account access with others, they will be removed without
            a refund. You may not share our content with others not enrolled in the
            course or service. Unauthorized sharing of content will result in immediate
            removal without refund.
            <br />
            Results may vary, and you accept that even with the use of our services
            and products, you may not achieve the sales or income desired. We are
            not responsible for your well-being or your income. Please be fully aware
            of this before purchasing our services.
            <br />
            By purchasing our services, you acknowledge that you are receiving a
            pre-designed website or service package. These are generic designs or
            packages intended as a starting point for your online presence and should
            not be considered a complete "business" solution. You are simply purchasing
            a website design service or package provided by Deejaydev.
            <br />
            There is NO money-back guarantee. Once the service is rendered, the transaction
            is final, and no refunds will be issued.
            <br />
            We do not claim that you will make any income from your website or service.
            We are not offering a business opportunity; we are a website design and
            digital services agency.
            <br />
            This site is not part of the Facebook website or Facebook Inc. Additionally,
            this site is NOT endorsed by Facebook in any way. Facebook is a trademark
            of FACEBOOK, Inc.
            <br />
            For any questions or concerns, please contact us via our website www.deejaydev.work
          </p>
        </div>
      </div>
    </div>
  </Container>
</footer>

<script is:inline>
  const year = new Date().getFullYear()
  document.getElementById('currentYear').innerHTML = `${year}`
</script>
