---
import { pricingList } from '../utils/config'
import CtaButton from './CtaButton.astro'
import Container from './Container.astro'
---

<Container>
  <div class="flex flex-col-reverse items-center md:flex-row" id="hero">
    <div class="flex items-center py-5 w-full md:pb-20 md:pt-10">
      <div class="text-left space-y-3">
        <h1 class="text-5xl font-medium leading-none md:text-6xl">
          Get a Professional Website with Our LaunchPad Package for Just
          R299/Month!
        </h1>
        <p class="mt-6 mb-8 text-xl font-normal leading-7 sm:mb-12">
          Boost your small business with our LaunchPad package for only R299 per
          month. Our experts will create a professional website tailored to your
          needs, giving you a strong online presence affordably.
        </p>
        <CtaButton
          title={`Get Started for R${pricingList.LunchPad.price} PM`}
          checkoutUrl={pricingList.LunchPad.packageLink}
        />
      </div>
    </div>

    <div
      class="flex items-center justify-center py-5 md:w-full md:pb-20 md:pt-24"
    >
      <img src="/Hero.svg" width="100%" alt="Hero" />
    </div>
  </div>

  <div class="flex-row items-center">
    <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-6">
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img
          src="./clients/001.svg"
          class="h-12 w-auto mx-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img
          src="./clients/002.svg"
          class="h-12 w-auto mx-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
      <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
        <img
          src="./clients/003.svg"
          class="h-9 w-auto m-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img
          src="./clients/004.svg"
          class="h-12 w-auto mx-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
      <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
        <img
          src="./clients/005.svg"
          class="h-8 w-auto m-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img
          src="./clients/006.svg"
          class="h-12 w-auto mx-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
    </div>
  </div>
</Container>
