---
import Container from './Container.astro'
import Topic from './Topic.astro'
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row">
    <Topic
      title="Testimonials"
      description="Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Digital Marketing Services"
    />
  </div>

  <div
    class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]"
  >
    <div
      class="justify-items-center relative w-full border border-lime rounded-3xl"
    >
      <div class="p-4 md:p-10">
        <p
          class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4"
        >
          "I was hesitant about getting a website for my small bakery, but
          LaunchPad made it so easy! For just R299 month-to-month is a good
          investment because, I got a professional-looking site that's bringing
          in new customers. Our business email makes us look legit. It's like
          having a tech-savvy friend who's got your back"
        </p>
        <span class="text-lime text-base md:text-xl font-medium"
          >Rosemary Reid<br /></span
        ><span class="text-white text-lg font-normal"
          >Owner of Sweet Treats Bakery</span
        >
      </div>
    </div>
  </div>
</Container>
